In [1]:
import pandas as pd 
data_dir="/oak/stanford/groups/akundaje/projects/alzheimers_parkinsons/mgloud_GWAS_HG19"

In [2]:
kunkle=pd.read_csv('/'.join([data_dir,"GWAS_Kunkle2019.txt.gz"]),header=0,delim_whitespace=True)

In [6]:
kunkle.head()

,rsid,chr,snp_pos,pvalue,effect_allele,non_effect_allele,effect_direction,beta,se,MarkerName
0,rs61769339,1,662622,0.02869,A,G,-,-0.1000,0.0457,rs61769339
1,rs190214723,1,693625,0.81200,T,C,-,-0.0163,0.0685,NaN
2,rs12238997,1,693731,0.01598,A,G,+,0.0996,0.0413,rs61769350
3,rs72631875,1,705882,0.75740,A,G,-,-0.0184,0.0595,rs72631875
4,rs181440659,1,718505,0.23200,A,G,-,-0.1628,0.1362,rs181440659

In [7]:
num_snps=kunkle.shape[0]
print("num_snps:"+str(num_snps))

num_snps:11596256

### get snps w/ p-value <= 1e-5 , <=5e-8, <=1e-8

In [8]:
sig1e5=kunkle[kunkle['pvalue']<=1e-5]
sig5e8=kunkle[kunkle['pvalue']<=5e-8]
sig1e8=kunkle[kunkle['pvalue']<=1e-8]

In [9]:
sig1e5.shape

(3739, 10)

In [10]:
sig5e8.shape

(1547, 10)

In [11]:
sig1e8.shape

(1295, 10)

## sort,split by chroms, save 1e-5

In [15]:
sig1e5=sig1e5.sort_values("pvalue",ascending=False)
sig1e5.head()

,rsid,chr,snp_pos,pvalue,effect_allele,non_effect_allele,effect_direction,beta,se,MarkerName
4926215,rs7260330,19,45436216,0.00001,A,G,+,0.0963,0.0218,rs7260330
10788820,rs11988972,8,71692813,0.00001,A,G,+,0.1058,0.0240,rs11988972
7671184,rs28704613,4,66244870,0.00001,A,T,+,0.2114,0.0478,rs28704613
6510111,rs80119813,22,46713651,0.00001,A,G,-,-1.7850,0.4039,rs80119813
9160111,rs114291379,6,32491826,0.00001,C,G,+,0.0857,0.0194,rs114291379

In [17]:
#what's the split by chromosomes? 
sig1e5.chr.value_counts()

19    1159
6     1069
11     926
2      168
8       91
14      62
16      57
1       46
7       38
4       25
3       18
10      15
5       14
20      14
17      11
21       6
15       6
22       5
9        4
12       2
13       2
18       1
Name: chr, dtype: int64

## sort,split by chroms, save 5e-8

In [18]:
sig1e5.to_csv("Kunkle2019.pval_lte_1e5.tsv",sep='\t',index=False)

In [19]:
sig5e8=sig5e8.sort_values("pvalue",ascending=False)
sig5e8.head()

,rsid,chr,snp_pos,pvalue,effect_allele,non_effect_allele,effect_direction,beta,se,MarkerName
9165034,rs9270842,6,32570461,4.992000e-08,T,C,-,-0.0942,0.0173,rs9270842
9165035,rs9270843,6,32570478,4.990000e-08,A,G,+,0.0942,0.0173,rs9270843
1707316,rs2697923,11,47363215,4.923000e-08,T,G,-,-0.0815,0.0150,rs2697923
9165051,rs386699449,6,32570839,4.922000e-08,A,G,+,0.0939,0.0172,rs9270856
9165052,rs9270856,6,32570839,4.922000e-08,A,G,+,0.0939,0.0172,rs9270856

In [20]:
#what's the split by chromosomes? 
sig5e8.chr.value_counts()

19    806
11    533
6      87
2      67
1      23
8      20
7       6
10      4
14      1
Name: chr, dtype: int64

In [21]:
sig5e8.to_csv("Kunkle2019.pval_lte_5e8.tsv",sep='\t',index=False)

## sort,split by chroms, save 1e-8

In [22]:
sig1e8=sig1e8.sort_values("pvalue",ascending=False)
sig1e8.head()

,rsid,chr,snp_pos,pvalue,effect_allele,non_effect_allele,effect_direction,beta,se,MarkerName
1707429,rs34937994,11,47389638,9.957000e-09,T,C,+,0.0856,0.0149,rs34937994
4925585,rs35106910,19,45284266,9.839000e-09,A,C,+,0.2345,0.0409,rs35106910
4925395,rs8108110,19,45234124,9.662000e-09,A,G,+,0.0936,0.0163,rs8108110
1708246,rs1064608,11,47640429,9.632000e-09,C,G,-,-0.0860,0.0150,rs1064608
4927395,rs148613044,19,45732972,9.613000e-09,A,G,+,0.2347,0.0409,rs148613044

In [23]:
#what's the split by chromosomes? 
sig1e8.chr.value_counts()

19    742
11    433
2      65
1      23
8      19
6      12
14      1
Name: chr, dtype: int64

In [24]:
sig1e8.to_csv("Kunkle2019.pval_lte_1e8.tsv",sep='\t',index=False)